body {
  font-famly: "Arial", sans-serif;
  background-color: #00072d;
  color: white;
}
h1 {
  color: #2234ab;
}
h2 {
  color: #89cff0;
}
a {
  color: #8b949e;
  text-decoration: none;
}
a:hover {
  color: #1f6feb;
}
ul > li {
  font-weight: bold;
}
h1 + p {
  background-color: #161b22;
  padding: 10px;
  border-radius: 5px;
}
ul li:nth-child(3) {
  background-color: #d3d3d3;
}
p:not(:first-of-type) {
  text-decoration: underline;
}
p::first-letter {
  font-size: 200%;
  color: #ff7b72;
}
